body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#3D639C, #5A93E8)
    
}

header {
    background-color: #243A5C;
    /*padding: 20px 0;*/
}
.navbarindex{
    background-color: #243A5C;
}
.navbar-back{
    font-size: large; 
    background-color:#243A5C;
}
.navbar-colorcustom{
   color: #ffff;
   font-size: xx-large;


}
.nav-pills .nav-link {
    color: #ffff;
}

.caja {
    width: 95vw;
    position: relative;
    margin: 0 auto;
}

.caja .logo {
    height: 5%;

}

/*nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}



nav a {
    text-transform: uppercase;
    color: #5A93E8;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


nav a:hover {
    color: #fefefe;
    text-decoration: underline;
}*/


.estrenos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.peliculas {
    display: flex;
    direction: row;
    width: 90%;
    margin: 0 auto;
    padding: 50px;
}

.peliculas li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.peliculas li:hover {
    border-color: #0c3ad0;
}

.peliculas li:active {
    border-color: #c51414;
}

.peliculas h2 {
    font-size: 30px;
    font-weight: bold;

}

.peliculas li:hover h2 {
    font-size: 33px;
}

.descripcion-peli {
    font-size: 22px;
}

.fecha-estreno {
    font-size: 20px;
    margin-top: 10px;
}

/*carousel style*/
.proximos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}


.carousel1,
.carousel2{
    width: 50%;
    /* ajusta el ancho de cada carrusel */
}

.carousel2 .carousel-caption {
    color: #000000;
}
.c-img{
    height: 100% ;
    object-fit:contain;
    background:linear-gradient( #385f9a, #0d1c31);
    
}
.c-item{
    height: 480px;
    
    
}


/*Video style*/
.estrenos .diferenciales {
    width: 90%;
    direction: column;
    text-align: center;
    align-items: center;
    padding: 3em;
}

footer {
    background-color: #243A5C
}

/*pagina concurso style*/
main {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: linear-gradient(#3D639C, #5A93E8)
}
.concurso{
    margin: 2em;
    width: 40%;
}

.concurso h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 1em;
    transition: color 1s ease-in-out; /* transición de 1 segundo con aceleración y desaceleración */
    animation: perpetuo 3s infinite; /* animación de 10 segundos que se repite infinitamente */
}

@keyframes perpetuo {
  0% {
    color: aliceblue; /* inicio*/
  }
  
  100% {
    color: #000000; /* fin */
  }
}

.concurso p {
    padding: 1.5em;
    color: aliceblue;

}

.concurso .imagen-concurso{
    display: flex;
    justify-content: center;
    padding: 1em ;
    max-width: 100%;
    width: 90%;


}
.concurso .imagen-concurso img{
    max-width: 100%;
}
.concurso small {
    font-size: small;
}
.concurso small img{
    vertical-align: text-bottom;

}
.inscripcion{
    width: 50%;
}
form{
    margin: 4vh 4vh;
    width: 50%;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: aliceblue;
}

.input-padron {
    display: block;
    margin: 0 2em 2em 0;
    padding: 10px 25px;
    width: 30vw;
}

.checkbox {
    margin: 20px 0;
}
/* boton enviar */

.enviar {
    width: 40%;
    padding: 15px 0;
    margin-left: 1em;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background:  #3D639C;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #4C7BC2;
    transform: scale(1.1);
}
 /* Estilos personalizados para el alert que creamos */
 #custom-alert {
    position: fixed;
    top: 10vh;
    left: 30vw;
    right: 30vw;
    background-color:aliceblue;
    color: #0d1c31;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #0d1c31;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    display: none;
  }

/*index style*/
.index {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 55vh;
}

.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
    color: aliceblue;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: aliceblue;
}

.principal p {
    margin: 0 0 1em;
   
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.logo-vacio {
    width: 5em;
    float: left;
    margin: 0 20px 20px 0;
}
.logo-black {
    width: 7em;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {

    width: 100%;
    padding: 3em 0;
    background: linear-gradient(#3D639C, #5A93E8)
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
    color: aliceblue;

}

.mapa-contenido {

    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}
.mapa-contenido iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.video {
    width: 560px;
    margin: 1em auto;
}
.pfooter{
    margin-bottom: 0rem;
}
.social-media{
    margin: 3em;
    color:aliceblue;
}
.social-media .social{
    margin-top: 2em;
}
.social-media .contacto h6, .social-media .social h6{
    text-decoration: underline;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2em;
}
.social-media .contacto p{
    margin: 0 0.5em 1em 1em;
    
}

@media screen and (max-width: 1023px){
    main{
        max-width: inherit;
    }
    /* agregar navbar media */
    /* contacto pag */
    form {
        margin: 4vh 4vh;
        width: 50%;
    }
    
    form label,
    form legend {
        display: block;
        font-size: 15px;
        margin: 0 0 5px;
        
    }
    
    .input-padron {
        display: block;
        margin: 0 1em 1em 0;
        padding: 5px 15px;
        width: 40vw;
    }
    
    .checkbox {
        margin: 10px 0;
    }
    /* boton enviar */
    
    .enviar {
        width: 40%;
        padding: 10px 0;
        margin-left: 1em;
        font-size: 14px;
        
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
    }
    
    .enviar:hover {
        background: #4C7BC2;
        transform: scale(1.1);
    }
}
@media screen and (max-width: 764px){
    main{
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* agregar navbar media */
    .navbar{
        justify-content: space-around;
    }
    /* contacto pag */
    .formulario-consulta{
        margin: 1em;
    }
    .social-media .social{
        margin-right: 2em;
    }
    .inscripcion{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    form {
        margin: 2vh 2vh;
        width: 80%;
    }
    
    form label,
    form legend {
        display: block;
        font-size: 15px;
        margin: 0 0 5px;
        color: aliceblue;
    }
    
    .input-padron {
        display: block;
        margin: 0 1em 1em 0;
        padding: 5px 15px;
        width: 90%;
    }
    
    .checkbox {
        margin: 10px 0;
    }
    /* boton enviar */
    
    .enviar {
        width: 40%;
        padding: 10px 0;
        margin-left: 1em;
        font-size: 14px;
        font-weight: bold;
        color: white;
        background:  #3D639C;
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;
    }
    
    .enviar:hover {
        background: #4C7BC2;
        transform: scale(1.1);
    }
    .social-media{
        margin: 1em;
    }
    .concurso{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        align-items: center;
    }

}
@media screen and (max-width:580px) {
    h1 {
        text-align: center;
    }
    .concurso h1 {
        font-size: 2em;
        padding: 0.5em;
    }

    /*nav {
        position: static;
    }*/
    .social-media {
        display: none;
    }
    
}
    .caja,
    .principal,
    .mapa-contenido,
    .video {
        width: auto;
    }


    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

    *{
      box-sizing: border-box;
      margin: 0;
    }
    
    html, body{
      margin: 0;
      background: linear-gradient(#3D639C, #5A93E8);
      font-family: 'Montserrat', helvetica, arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
    }
    
    .movie_card{
      position: relative;
      display: block;
      width: 1000px;
      height: 350px;
      margin: 100px auto; 
      overflow: hidden;
      border-radius: 10px;
      transition: all 0.4s;
      &:hover{
        transform: scale(1.02);
        transition: all 0.4s;
      }
      .info_section{
        position: relative;
        width: 100%;
        height: 100%;
          background-blend-mode: multiply;
        z-index: 2;
        border-radius: 10px;
        .movie_header{
          position: relative;
          padding: 25px;
          height: 40%;
          color: white;
          .h1{
            font-weight: 400;
          }
          .h4card{
            
            font-weight: 400;
          }
          .minutes{
            display: inline-block;
            margin-top: 10px;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid rgba(255,255,255,0.13);
          }
          .type{
            display: inline-block;
            color: #cee4fd;
            margin-left: 10px;
          }
          .locandina{
            position: relative;
            float: left;
            margin-right: 20px;
            height: 120px;
            box-shadow: 0 0 20px -10px rgba(250, 250, 250, 0.5);
          }
        }
        .movie_desc{
          padding: 25px;
          height: 50%;
          .text{
            color: #cfd6e1;
          }
        }
        .movie_social{
          height: 10%;
          padding-left: 15px;
          padding-bottom: 20px;
          .ul{
            list-style: none;
            padding: 0;
            .li{
              display: inline-block;
              color: rgba(255,255,255,0.4);
              transition: color 0.3s;
              transition-delay: 0.15s;
              margin: 0 10px;
              &:hover{
                transition: color 0.3s;
                color: rgba(255,255,255,0.8);
              }
              .i{
                font-size: 19px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .blur_back{
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%; right: 0;
        background-size: cover;
        border-radius: 11px;
      }
    }
    
    @media screen and (min-width: 768px) {
      .movie_header{
        width: 60%;
      }
      
      .movie_desc{
        width: 50%;
      }
      
      .info_section{
        background: linear-gradient(to right, #0d0d0c 45%, transparent 100%);
      }
      
      .blur_back{
        width: 80%;
        background-position: -100% 10% !important;  
      }
    }
    
    @media screen and (max-width: 1024px) {
      .movie_card{
        width: 100%;
        margin: 70px auto; 
        min-height: 350px;
        height: auto;
      }
      
      .blur_back{
        width: 100%;
        background-position: 50% 50% !important;  
      }
      
      .movie_header{
        width: 100%;
        margin-top: 85px;
      }
      
      .movie_desc{
        width: 100%;
      }
      
      .info_section{
        background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
        display: inline-grid;
      }
    }
   
        
    #tomb{
      box-shadow: 0px 0px 150px -45px #dfdddb;
      &:hover{
        box-shadow: 0px 0px 120px -55px #c4c4c4;
      }
    }
    .tomb_back{
        background: url('imagenes/lara-mid.png');
      }
    
    #ave{
      box-shadow: 0px 0px 150px -45px #dfdddb;
      margin-bottom: 200px;
      &:hover{
        box-shadow: 0px 0px 120px -55px #c4c4c4;
      }
    }
    
    .ave_back{
        background:url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg")
        }
    #guardianes{
            box-shadow: 0px 0px 150px -45px #dfdddb;
            margin-bottom: 200px;
            &:hover{
              box-shadow: 0px 0px 120px -55px #c4c4c4;
            }
          }
          
    .guardianes_back{
              background:url('imagenes/g3mid.png')
              }
    #wick{
                box-shadow: 0px 0px 150px -45px #dfdddb;
                &:hover{
                  box-shadow: 0px 0px 120px -55px #c4c4c4;
                }
              }
              
    .wick_back{
                background: url('imagenes/john-mid.jpg');
              }
    #suzu{
                box-shadow: 0px 0px 150px -45px #dfdddb;
                &:hover{
                  box-shadow: 0px 0px 120px -55px #c4c4c4;
                }
              }
    .suzu_back{
                background: url('imagenes/suzume.jpg');
              }
              
    .flash_back{
                background: url('imagenes/flash-mid.webp');
              }
    .open_back{
                background: url('imagenes/oppen-mid.jpg');
              }

    .t2_back{
                background: url('imagenes/t2.jpg');
              }